*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TEXTO---------------------------------------------------------------------------------- */
h1{
    color: white;
    font-weight: 800;
    font-size: 5em;
   /* text-align: center; */
}
h2{ 
    color: white;
    font-weight: 400;
    font-size: 2em;
    text-align: left;
}
p{
    color: white;
font-size:0.7em;
padding-top: 0.4rem;
}
a{
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}
/* Main---------------------------------------------------------------------------------- */

body{
    background-color: gray;
}
header{
    border: solid wheat;
    width: 100%;
    height: 10rem;
    /* background-image: url("assets/back1.jpeg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.TittleHeader{
    z-index: 1;
    text-align: center;
}

.navHeader{
    width: 40%;
    margin-top: 1.3rem;
}
.UlHeader{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} 
.ListHeader{
    width: 20rem;
    align-items: center;
    justify-content: space-between;
    margin: 1.2rem;
    font-size: 1.3rem;
}

.ListHeader:hover
{
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}

/* ------------------------------ */
main{
    width: 100%;
    height: 300vh;
    /* display: flex; */
}
/* main curriculo, formaçao */
#CurriculoMainOne{
    border: solid rgb(89, 34, 178);
    width: 100%;
    height: 80vh;
    /* background-image: url("assets/back2.jpeg"); */
    background-size: cover;
    /* background-position-x: 4rem; */
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.divCurriculoOne{
    border: solid firebrick;
    justify-content: center;
    text-align: center;
    width: 60vw;
    height: 65vh;
    /* font-size:1.1em; */
    text-align: justify;
    padding: 0.5rem 2rem 0rem 2rem;
}
.divCurriculoTwo{
    border: solid firebrick;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    width: 20vw;
    height: 55vh;
    padding: 0.5rem 2rem 1.2rem 2rem;
}
/*  main mini bio */
#MiniBioMainTwo{
    border: solid rgb(89, 34, 178);
    width: 100%;
    height: 100vh;
    /* background-image: url("assets/back2.jpeg"); */
    background-size: cover;
    /* background-position-x: 4rem; */
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.divMiniBioOne{
    border: solid firebrick;
    background-color: rgba(108, 93, 73, 0.415);
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    width: 45vw;
    height: 75vh;
    padding-top:3rem ;
    padding: 0.5rem 2rem 1.2rem 2rem;
}
.divMiniBioTwo{
    border: solid firebrick;
    text-align: justify;
    margin-top: 3rem;
    width: 45vw;
    height: 75vh;
    text-align: justify;
    padding: 0.5rem 2rem 1.2rem 2rem;
}
#LadoAPorAmor{
    border: solid rgb(89, 34, 178);
    width: 100%;
    height: 250vh;
    /* background-image: url("assets/back2.jpeg"); */
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.ladoAText{
border: solid firebrick;
width: 80%;
height: 20vh;
justify-content:center;
text-align: center;
padding:0 2rem 1.2rem 3rem;

}
.imgLadoA{
    border: solid firebrick;
    width: 90vw;
    height: 65vh;
}
.iframeLadoA{
    border: solid firebrick;  
    width: 90vw;
    height: 85vh;
    padding: 3rem;
}